<!-- CUERPO -->
<div class="titulo-destacados">
    <div class="titulo-contenido">
        <h4>destacados</h4>
        <i class="fas fa-plus-circle"></i>
    </div>
</div>
{{> mostrarProductos productos=productos}}
<div class="titulo-varios">
    <div class="titulo-contenido">
        <h4>varios</h4>
        <a href="">
        <i class="fas fa-plus-circle"></i>
        </a>
    </div>
</div>
{{> mostrarProductos productos=productosVarios}}