<!-- DETALLE PRODUCTO -->
<div class="titulo-destacados">
    <div class="titulo-contenido">
        <h4>sumo</h4>
        <i class="fas fa-plus-circle"></i>
    </div>
</div>
<div class="contenedor-detalle-producto">
    <div class="imagenes-detalle-producto">
        <div class="img-principal-producto">
            <img src="img/remerablanca.jpg" alt="">
            <img src="img/remeragris.jpeg" alt="">
            <img src="img/jeanfeo.jpg" alt="">
        </div>
        <div class="navegacion-detalle-producto">
            <i class="fas fa-chevron-left"></i>
            <i class="fas fa-chevron-right"></i>
        </div>
    </div>
    <div class="detalle-producto">
        <div class="texto-detalle-producto">
            <h3>nombre de la remera</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. In porro quis laborum quibusdam debitis, quaerat quia optio
                suscipit sequi perferendis. Nobis, nulla neque ex fugit officia pariatur laboriosam eveniet tenetur.
            </p>
        </div>
        <div class="pago-detalle-producto">
            <h3>Cantidad:</h3>
            <div class="number-input">
                <button class="down"></button>
                <input class="quantity" min="1" name="quantity" value="1" type="number">
                <button class="plus"></button>
            </div>
            <div class="pago-detalle-boton">
                <a href="#">
                    <i class="fas fa-cart-plus"></i>
                    lo quiero
                </a>
            </div>
        </div>
    </div>
</div>
<!-- PRODUCTOS SIMILARES -->
<div class="titulo-destacados">
    <div class="titulo-contenido">
        <h4>similares</h4>
        <i class="fas fa-plus-circle"></i>
    </div>
</div>
<div class="contenedor">
    <div class="fila">
        <div class="tarjeta">
            <div class="tarjeta-imagen">
                <img src="img/remerablanca.jpg" alt="">
                <p>$2000</p>
                <div class="imagen-icon">
                    <i class="fas fa-music"></i>
                </div>
            </div>
            <div class="tarjeta-cuerpo">
                <div class="tarjeta-titulo">
                    <h6>Remera de Rock</h6>
                </div>
                <div class="tarjeta-texto">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="tarjeta-botones">
                    <button type="submit"><i class="fas fa-plus-circle"></i>Ver</button>
                    <button type="submit"><i class="fas fa-cart-plus"></i>A単adir</button>
                </div>
            </div>
        </div>
        <div class="tarjeta">
            <div class="tarjeta-imagen">
                <img src="img/remerablanca.jpg" alt="">
                <p>$2000</p>
                <div class="imagen-icon">
                    <i class="fas fa-music"></i>
                </div>
            </div>
            <div class="tarjeta-cuerpo">
                <div class="tarjeta-titulo">
                    <h6>Remera de Rock</h6>
                </div>
                <div class="tarjeta-texto">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="tarjeta-botones">
                    <button type="submit"><i class="fas fa-plus-circle"></i>Ver</button>
                    <button type="submit"><i class="fas fa-cart-plus"></i>A単adir</button>
                </div>
            </div>
        </div>
        <div class="tarjeta">
            <div class="tarjeta-imagen">
                <img src="img/remerablanca.jpg" alt="">
                <p>$2000</p>
                <div class="imagen-icon">
                    <i class="fas fa-music"></i>
                </div>
            </div>
            <div class="tarjeta-cuerpo">
                <div class="tarjeta-titulo">
                    <h6>Remera de Rock</h6>
                </div>
                <div class="tarjeta-texto">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="tarjeta-botones">
                    <button type="submit"><i class="fas fa-plus-circle"></i>Ver</button>
                    <button type="submit"><i class="fas fa-cart-plus"></i>A単adir</button>
                </div>
            </div>
        </div>
        <div class="tarjeta">
            <div class="tarjeta-imagen">
                <img src="img/remerablanca.jpg" alt="">
                <p>$2000</p>
                <div class="imagen-icon">
                    <i class="fas fa-music"></i>
                </div>
            </div>
            <div class="tarjeta-cuerpo">
                <div class="tarjeta-titulo">
                    <h6>Remera de Rock</h6>
                </div>
                <div class="tarjeta-texto">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="tarjeta-botones">
                    <button type="submit"><i class="fas fa-plus-circle"></i>Ver</button>
                    <button type="submit"><i class="fas fa-cart-plus"></i>A単adir</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/producto.js"></script>