<div class="productos-filtro-contenedor">
    <div class="productos-filtro-contenido">
        <p>filtros</p>
        <i class="fas fa-chevron-right filtro"></i>
    </div>
    <div class="productos-filtro-items">
        <div class="productos-filtro-items-contenido">
            <div>
                <div class="producto-filtro-item">
                    <p>categoria</p>
                    <i class="fas fa-chevron-right"></i>
                </div>
                <div class="contenido-filtro">
                    <div class="contenido-filtro-items">
                        <hr>
                        <p>Rock Nacional</p>
                        <hr>
                        <p>Rock Internacional</p>
                        <hr>
                        <p>Rock Vintage</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div>
                <div class="producto-filtro-item">
                    <p>orden</p>
                    <i class="fas fa-chevron-right"></i>
                </div>
                <div class="contenido-filtro">
                    <div class="contenido-filtro-items">
                        <hr>
                        <p>Destacado</p>
                        <hr>
                        <p>Mayor Precio</p>
                        <hr>
                        <p>Menor Precio</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/productos.js"></script>