<!-- FOOTER -->
<div class="footer-redes">
    <div class="redes-title">
        <h4>Seguinos en nuestras Redes</h4>
    </div>
    <div class="redes-contenido">
        <a target="_blank" href="#"><i class="fab fa-facebook"></i></a>
        <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
    </div>
</div>
<div class="footer">
    <div class="footer-col-2">

    </div>
    <div class="footer-col-3">

    </div>
</div>
<div class="footer-zocalo">
    <h6>Derechos Reservados</h6>
</div>