<div class="col-md-2 border-right sidebar bg-white m-0">
    <h3 class="text-center pt-3 text-primary">{{user.nombre}}</h3>
    <div class="ml-2 pt-2">
        <a class="text-decoration-none text-dark" href="/admin/profile">
            <h4><i class="fas fa-id-badge pr-2"></i>Perfil</h4>
        </a>
    </div>
    <hr>
    <div class="mt-2 pl-2">
        <h4 class="text-muted productos-menu"><i class="fas fa-users-cog pr-2"></i>Usuario</h4>
        <div class="contenedor-menu">
            <div class="menu-desp">
                <hr>
                <div>
                    <a class="text-decoration-none text-dark" href="/admin/users/newpws">
                        <h6><i class="fas fa-user-edit pr-2"></i>Cambiar Password</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<script src="/js/sidebar.js"></script>